
header{
    display: flex;
flex-direction:row;
flex-wrap:nowrap; 

}
.textoybotones{
    display: flex;
flex-direction: column;
padding: 80px;
min-width: 50px;
max-width: 1000px;
}
.parrafo{
    
    
}

.imagen{
width: 30%;
height: auto;
object-fit:scale-down;
padding: 50px;




}
h1{
    

/* Heading/H1 */

font-family: 'Inter';
font-style:normal;
font-weight: 800px;
font-size: 40px;
line-height: 50px;
/* or 136% */

font-feature-settings: 'salt' on, 'liga' off;

/* Text / Gray 900 */

color: #18191F;


/* Inside auto layout */

}
p{
   

/* Lead / Lead 1 */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
text-align: justify;
/* or 178% */


/* Text / Gray 900 */

color: #18191F;



}
.botones{
    display: flex;
flex-direction:row;
flex: 3;
flex-wrap: wrap;
justify-content:flex-start;
gap: 10px;

width: 800px;

align-items:center ;



/* Brand / Purple */

}
.myBoton{
    background: #8C30F5;
border-radius: 6px;
width: 188px;
height: 54px;
left: 16px;
top: 186px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
font-family: 'Inter';
font-style: normal;
color: #FFFFFF;

}

main{
    display:flex;
    flex-direction: row;
    

}
.show{
    display: flex;

flex-wrap: wrap;
align-items:flex-start;
width: 100%;
justify-content: space-evenly;
background-image: url("https://w0.peakpx.com/wallpaper/60/74/HD-wallpaper-studio-ghibli-doodle-anime-black-bw-cat-doodles-totoro-white.jpg") ;


}
ul{
    list-style-type: none;
    border-radius: 22px;
    border-color:beige;
    border-style:ridge;
    box-shadow: 00 12px 2px rgba(0, 0, 0, 0,2);
    overflow: hidden;
    transition: all 0.25s;
    font-family:'Inter';
    background-color:  #F1E4FF;
    

    
}
ul:hover{
    transform: translateY(-15px);
    box-shadow: 50 50px 16px rgba(0, 0, 0, 0,2);
}
ul img{
    padding-right: 25px ;
}