header {
      text-align: center;
    padding: 50px;
    background-size: 300px;
    background-position: right ;
    background-repeat: no-repeat;
    background-image: url("https://img12.deviantart.net/de8c/i/2015/228/d/7/studio_ghibli_logo_by_schneefuechsin-d95wnnl.jpg");
}

nav {
    width: 100%;
    position: fixed;
    z-index: 100;
    float: left;
}
nav ul {
    list-style: none;
    overflow: hidden; 
}

nav ul li {
        float: left;
}
